<p>{{ user.details.local.email }}</p>
<!--strategies-->
<a href="/api/connect/twitter" target="_self" ng-hide="user.details.twitter.token">Connect Twitter</a>
<a href="/api/unlink/twitter" target="_self" ng-show="user.details.twitter.token">Unlink Twitter</a>
<a href="/api/connect/facebook" target="_self" ng-hide="user.details.facebook.token">Connect Facebook</a>
<a href="/api/unlink/facebook" target="_self" ng-show="user.details.facebook.token">Unlink Facebook</a>
<a href="/api/connect/github" target="_self" ng-hide="user.details.github.token">Connect Github</a>
<a href="/api/unlink/github" target="_self" ng-show="user.details.github.token">Unlink Github</a>
<a href="/api/connect/google" target="_self" ng-hide="user.details.google.token">Connect Google</a>
<a href="/api/unlink/google" target="_self" ng-show="user.details.google.token">Unlink Google</a>
<!--end:strategies-->