'use strict';

module.exports = {
  DBURL: 'http://127.0.0.1',
  SESSION_SECRET: '',
  TWITTER_KEY: '',
  TWITTER_SECRET: '',
  TWITTER_CALLBACK: 'http://localhost:9000/api/twitter/callback',
  FACEBOOK_KEY: '',
  FACEBOOK_SECRET: '',
  FACEBOOK_CALLBACK: 'http://localhost:9000/api/facebook/callback',
  GITHUB_KEY: '',
  GITHUB_SECRET: '',
  GOOGLE_CALLBACK: 'http://localhost:9000/api/github/callback',
  GOOGLE_KEY: '',
  GOOGLE_SECRET: '',
  GOOGLE_CALLBACK: 'http://localhost:9000/api/google/callback'
};